<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>265258487603-v0e4jtptlb0v76l9s61fdfql5vl1u6r7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.265258487603-v0e4jtptlb0v76l9s61fdfql5vl1u6r7</string>
	<key>API_KEY</key>
	<string>AIzaSyBmnfjOcrvEQtYJy5egRKmSNJ1ATzD6ZCs</string>
	<key>GCM_SENDER_ID</key>
	<string>265258487603</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.alphalogy.a5LocationSharing</string>
	<key>PROJECT_ID</key>
	<string>f-go-f97eb</string>
	<key>STORAGE_BUCKET</key>
	<string>f-go-f97eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:265258487603:ios:137fb23b516b5c855af846</string>
</dict>
</plist>